<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p class="hidden-lg hidden-md">{{getTitle()}}</p>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

              <li *ngIf="!(authService.userSignedIn$ | async)">
                <a (click)="presentAuthDialog()" href="javascript:void(0)" >Ingresar</a></li>
              <li *ngIf="!(authService.userSignedIn$ | async)">
                <a (click)="presentAuthDialog('register')" href="javascript:void(0)">Regsitrarse</a></li>

              <li *ngIf="(authService.userSignedIn$ | async)">
                <a [routerLink]="['/profile']" href="javascript:void(0)">Perfil</a></li>
              <li *ngIf="(authService.userSignedIn$ | async)">
                <a (click)="logOut()" href="javascript:void(0)">Salir</a></li>

            </ul>
        </div>
    </div>
</nav>

<app-auth-dialog #authDialog></app-auth-dialog>
