<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Venta</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Referencia</label>
                                        <input type="text" class="form-control" required
                                               [(ngModel)]="venta.extdoc" name="extdoc">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" required
                                               [(ngModel)]="venta.fecha" name="fecha">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Producto</label>
                                      <select class="form-control" required (ngModelChange)="unitChange($event)"
                                        [(ngModel)]="venta.producto_id" name="producto_id">
                                          <option [ngValue]="i.id" *ngFor="let i of productos">{{i.nombre}}</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Cantidad</label>
                                        <input type="number" min="1" step="any" class="form-control" required
                                               [(ngModel)]="venta.cantidad" name="cantidad">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Precio</label>
                                        <div class="input-group">
                                          <input type="number" min="1" step="any" class="form-control" required
                                                 [(ngModel)]="venta.preciounitario" name="preciounitario">
                                          <span class="input-group-addon">x {{unitSelected}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Total</label>
                                      <input type="string" class="form-control" required disabled
                                             value="{{ ((venta.cantidad|number) * (venta.preciounitario|number))|currency }}" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Lote</label>
                                      <select class="form-control" required
                                        [(ngModel)]="venta.lote_id" name="lote_id">
                                          <option [ngValue]="i.id" *ngFor="let i of lotes">{{i.nombre}}</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
