<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ventas</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                      <div class="col-md-12">
                        <input #search class="search" type="text" placeholder="Buscar..." (keyup)="onSearch(search.value)">
                      </div>
                      <ng2-smart-table [settings]="settings" [source]="source"
                        (delete)="onDeleteConfirm($event)"
                        (create)="createLink($event)"
                        (edit)="editLink($event)"></ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
